.swag-line::before {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #6b15a1, #ac2aa1) repeat scroll 0 0;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.navbar-tall {
    height: 125px;
}


.row-bordered {
    position: relative;
}
.row-padded {
    padding-bottom: 90px;
    padding-top: 80px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.screenshots-fan {
    height: 380px;
    margin-top: 80px;
}
.screenshots-fan {
    height: 240px;
    margin-top: 60px;
}
.screenshots-fan {
    height: 200px;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}
.screenshots-fan {
    margin-top: 50px;
}

.hero-homepage.hero {
    border-bottom: 1px solid #dcdfe4;
}
.hero-homepage.hero {
    border-bottom: 0 none;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
}
.hero {
    border-bottom: 1px solid #dcdfe4;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

.navbar-tall .navbar-header, .navbar-tall .navbar-nav {
    line-height: 125px;
    text-align: left;
}

.navbar-header {
    text-align: center;
}

.navbar {
    background-color: #fff;
    border: 0 none #fff;
}

body {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
        color: #293a46;
}

.footer-list, .footer-social-buttons {
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0;
}

.footer-list-item, .footer-social-buttons li {
    display: inline-block;
}

.swag-line-bottom {
    padding-bottom: 5px;
}

.swag-line-bottom::before {
    bottom: 0;
    top: auto;
}

.footer {
    padding: 60px 0;
}
.footer {
    border-top: 1px solid #dcdfe4;
    font-size: 14px;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
